<a href="/client/products">Home</a>

<h2><%= @product["name"] %></h2>

<h3>Price: <%= @product["formatted"]["price"] %></h3>
<h3>Tax: <%= @product["formatted"]["tax"] %></h3>
<h3>Total: <%= @product["formatted"]["total"] %></h3>



<% @product["images"].each do |image| %>
  <img src="<%= image["image_url"] %>">
  
<% end %>

